/* app global css */

:root {
  --q-color-brand: #efc3a6;
}

.bg-brand {
  background-color: var(--q-color-brand) !important;
}

.font-fancy {
  font-family: 'Antic Didone';
}

body {
  font-family: 'Quicksand', 'Roboto', '-apple-system', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
